/*General*/
header {
    background-image: url('../images/pokemon-background.jpg');
    background-attachment: fixed;
    background-size: 50% 50%;
}

.logo{
    width:25%;
    height:25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin:6px;
}

.heading{
    border: 10px solid  rgb(163, 110, 110);
}

.container{
    padding-right: 0px;
}

table{
    font-family: "Fira Sans","Trebuchet MS",Ubuntu,Helvetica,Arial,sans-serif;
    margin: 0 auto 1rem;
    border-collapse: collapse;
    border-spacing: 0;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
}
div{
    margin:20px;
}

/*Home Page*/
.background{
    background-image: url('../images/pokeball-background.jpg');
    background-attachment: fixed;
    background-size: 50% 100%;
}

.region-box{
    background-image: url('../images/region.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.region-title{
    color:rgb(255, 255, 255);
    text-align: center;
}

.form-check-label1{
    background-image:linear-gradient(to right, red , yellow);
    color: #000;
    border-radius: 5px;
    display: block;
}
.form-check-label2{
    background-image:linear-gradient(to right, rgb(121, 179, 75) , yellow);
    color: #000;
    border-radius: 5px;
    display: block;
}
.form-check-label3{
    background-image:linear-gradient(to right, rgb(0, 247, 255) , rgb(255, 145, 0));
    color: #000;
    border-radius: 5px;
    display: block;
}
.form-check-label4{
    background-image:linear-gradient(to right, rgb(47, 0, 255) , rgb(0, 255, 85));
    color: #000;
    border-radius: 5px;
    display: block;
}
.form-check-label5{
    background-image:linear-gradient(to right, rgb(255, 0, 179) , rgb(0, 153, 255));
    color: #000;
    border-radius: 5px;
    display: block;
}
.form-check-label6{
    background-image:linear-gradient(to right, rgb(111, 0, 255) , rgb(255, 0, 0));
    color: #000;
    border-radius: 5px;
    display: block;
}
.form-check-label7{
    background-image:linear-gradient(to right, rgb(111, 0, 255) , rgb(0, 255, 106));
    color: #000;
    border-radius: 5px;
    display: block;
}
.form-check-label8{
    background-image:linear-gradient(to right, rgb(173, 79, 137) , rgb(0, 255, 179));
    color: #000;
    border-radius: 5px;
    display: block;
}

.form-control{
    border: 5px solid  rgb(163, 110, 110);
    height:50px;
    width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

.btn-primary{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin:5px;
}

.pokebox{
    background-color:bisque;
    list-style-type: none;
    border: 5px solid  rgb(24, 22, 22);
    border-radius: 25px;
    width: auto;
    height:100%;
    margin:2px;
}

.dcontainer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.icontainer{
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.clear{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin:5px;
    border-radius: 5px;
    color:white;
    background-color:rgb(46, 118, 167);
}
/*Pokestats Page*/
.background2{
    background-color: rgb(255, 255, 255);
}

.center-sprite{
    width:30%;
    height:auto;
    margin:50px;
}
.pokeborder{
    display:flex;
    align-items: center;
    justify-content: center;
}
.type{
    display:flex;
    flex-direction: row;
}
.pokeimg{
    width:auto;
    height:auto;
}

@media only screen and (max-width: 600px) {
    /*Home Page*/
    .pokeborder{
        flex-direction: column;
    }
    .pokebox{
        background-color:bisque;
        list-style-type: none;
        border: 5px solid  rgb(24, 22, 22);
        border-radius: 25px;
        width: 40%;
        margin:2px;
    }
    .background{
        background-image: url('../images/pokeball-background.jpg');
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .region-title{
        color:black
    }

    /*Pokestats Page*/
    .center-sprite{
        width:310px;
        border:0px;
        margin:0px;
    }
    .form-control{
        width:103%;
    }
}
